@inject SimpleBookingWidget.Sessions.IMySession _session
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" type="image/x-icon" href="https://images.squarespace-cdn.com/content/v1/5785aaf220099e1db58a1d4f/1511139785595-IHSRZZGH7QPO7KP9XT9L/favicon.ico?format=100w">
    <title>@ViewData["Title"] - SimpleBookingWidget</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/lib/kendo-ui-core/kendo.ui.core.web.css" />
    <link rel="stylesheet" href="~/lib/sweetalert2/sweetalert2.css" />
    <link rel="stylesheet" href="~/lib/fontawesome/css/all.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    @RenderSection("Styles", false)
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">SimpleBookingWidget</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                    </ul>
                </div>
                @if (_session.Authenticated)
                {
                    <span class="navbar-text mr-3">
                        Welcome, @_session.FirstName @_session.LastName
                    </span>
                    <span class="navbar-text mr-3">
                        <a asp-area="" asp-controller="Pax" asp-action="Logout">Logout</a>
                    </span><a class="navbar-brand" asp-controller="Booking" asp-action="Cart">
                        <i class="fa-solid fa-cart-shopping"></i>
                        @if (_session.HasBooking)
                        {
                            <span id="booking-cart" class="badge badge-danger" style="font-size: 8pt; vertical-align: top;"></span>
                        }
                    </a>
                }
                else
                {
                    <span class="navbar-text">
                        <a asp-area="" asp-controller="Pax" asp-action="Index">Create your profile</a>
                    </span>
                }
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2022 - SimpleBookingWidget
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript" src="~/lib/kendo-ui-core/kendo.ui.core.all.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/lib/sweetalert2/sweetalert2.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
